@import url('reset.css');



body {
    background: rgb(75, 132, 175);
}

table,
th,
td {
    border-collapse: separate;
    border: 2px solid rgb(0, 0, 0);

}

#header {
    background: violet;
}

.weather {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.lightning {
    color: rgb(82, 33, 197);
    width: 1200px;
    margin: 0 auto;
    text-align: center
}

.about {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
}

.table {
    width: 400px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background: blueviolet;
    padding: 10px;
}

.container1 {
    background: black;
}

.header,
.body,
.footer {
    padding: 20px;
    margin: 0 0 20px;
    outline: 2px solid purple;
}

.footer {
    margin: 0;
}

.container>div {
    background: rgb(141, 113, 60);
}

.header+.body {
    background: blue;
}

.table tr+tr {
    background: aqua;
}